/* body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZLVVFpuac937m_HvBmR1NyUDFuvCngf5d1FSdGb4IXX5yCnJY");
    background-repeat: no-repeat;
    background-size: cover;
} */

table, th, td {
    border: 1px solid black;
    text-align: center;
  }
  table {
    border-collapse: collapse;
  }
  tr:nth-child(even) {
      background-color: green;
  }
  tr:nth-child(odd){
      background-color: lawngreen;
  }