 body{
    background-color: rgb(0, 255, 76);;
    background-repeat: no-repeat;
    background-size: cover;
} 

table, th, td {
    border: 1px solid black;
    text-align: center;
  }
  table {
    border-collapse: collapse;
  }
  tr:nth-child(even) {
      background-color: aqua;
  }
  tr:nth-child(odd){
      background-color: lawngreen;
  }