body, input{
    background-color: burlywood;
    
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid blue;
  }
  
  button {
      background-color: chocolate;
  }

  th, td {
    padding: 5px;
  }