body, input{
    background-color: burlywood;
    
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid blue;
  }
  
  button {
      background-color: chocolate;
  }

  th, td {
    padding: 5px;
  }

h1{
    color: midnightblue;
}

/* unvisited link */
  a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: red;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
    background-color: yellow;
  }
  
  /* selected link */
  a:active {
    color: blue;
    background-color: aqua;
  }